<?xml version="1.0"?>
<ServerConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <EnableDebugLevelLogging>false</EnableDebugLevelLogging>
  <EnableAutoUpdate>true</EnableAutoUpdate>
  <SystemUpdateLevel>Release</SystemUpdateLevel>
  <LogFileRetentionDays>3</LogFileRetentionDays>
  <RunAtStartup>false</RunAtStartup>
  <IsStartupWizardCompleted>false</IsStartupWizardCompleted>
  <EnableCustomPathSubFolders>false</EnableCustomPathSubFolders>
  <EnableUPnP>true</EnableUPnP>
  <PublicPort>8096</PublicPort>
  <PublicHttpsPort>8920</PublicHttpsPort>
  <HttpServerPortNumber>8096</HttpServerPortNumber>
  <HttpsPortNumber>8920</HttpsPortNumber>
  <EnableHttps>false</EnableHttps>
  <EnableInternetProviders>true</EnableInternetProviders>
  <IsPortAuthorized>true</IsPortAuthorized>
  <SeasonZeroDisplayName>Specials</SeasonZeroDisplayName>
  <SaveLocalMeta>false</SaveLocalMeta>
  <EnableLocalizedGuids>false</EnableLocalizedGuids>
  <DisableStartupScan>true</DisableStartupScan>
  <EnableUserViews>false</EnableUserViews>
  <EnableLibraryMetadataSubFolder>false</EnableLibraryMetadataSubFolder>
  <PreferredMetadataLanguage>en</PreferredMetadataLanguage>
  <MetadataCountryCode>US</MetadataCountryCode>
  <SortReplaceCharacters>
    <string>.</string>
    <string>+</string>
    <string>%</string>
  </SortReplaceCharacters>
  <SortRemoveCharacters>
    <string>,</string>
    <string>&amp;</string>
    <string>-</string>
    <string>{</string>
    <string>}</string>
    <string>'</string>
  </SortRemoveCharacters>
  <SortRemoveWords>
    <string>the</string>
    <string>a</string>
    <string>an</string>
  </SortRemoveWords>
  <MinResumePct>5</MinResumePct>
  <MaxResumePct>90</MaxResumePct>
  <MinResumeDurationSeconds>300</MinResumeDurationSeconds>
  <RealtimeLibraryMonitorDelay>40</RealtimeLibraryMonitorDelay>
  <EnableDashboardResponseCaching>true</EnableDashboardResponseCaching>
  <EnableDashboardResourceMinification>true</EnableDashboardResourceMinification>
  <MergeMetadataAndImagesByName>false</MergeMetadataAndImagesByName>
  <EnableStandaloneMetadata>false</EnableStandaloneMetadata>
  <ImageSavingConvention>Compatible</ImageSavingConvention>
  <MetadataOptions>
    <MetadataOptions>
      <ItemType>Book</ItemType>
      <ImageOptions>
        <ImageOption>
          <Type>Backdrop</Type>
          <Limit>1</Limit>
          <MinWidth>1280</MinWidth>
        </ImageOption>
      </ImageOptions>
      <DisabledMetadataSavers />
      <LocalMetadataReaderOrder />
      <DisabledMetadataFetchers />
      <MetadataFetcherOrder />
      <DisabledImageFetchers />
      <ImageFetcherOrder />
    </MetadataOptions>
    <MetadataOptions>
      <ItemType>Movie</ItemType>
      <ImageOptions>
        <ImageOption>
          <Type>Backdrop</Type>
          <Limit>1</Limit>
          <MinWidth>1280</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Art</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Disc</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Primary</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Banner</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Thumb</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Logo</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
      </ImageOptions>
      <DisabledMetadataSavers />
      <LocalMetadataReaderOrder />
      <DisabledMetadataFetchers />
      <MetadataFetcherOrder />
      <DisabledImageFetchers />
      <ImageFetcherOrder />
    </MetadataOptions>
    <MetadataOptions>
      <ItemType>MusicVideo</ItemType>
      <ImageOptions>
        <ImageOption>
          <Type>Backdrop</Type>
          <Limit>1</Limit>
          <MinWidth>1280</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Art</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Disc</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Primary</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Banner</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Thumb</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Logo</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
      </ImageOptions>
      <DisabledMetadataSavers />
      <LocalMetadataReaderOrder />
      <DisabledMetadataFetchers />
      <MetadataFetcherOrder />
      <DisabledImageFetchers />
      <ImageFetcherOrder />
    </MetadataOptions>
    <MetadataOptions>
      <ItemType>Series</ItemType>
      <ImageOptions>
        <ImageOption>
          <Type>Backdrop</Type>
          <Limit>1</Limit>
          <MinWidth>1280</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Art</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Primary</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Banner</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Thumb</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Logo</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
      </ImageOptions>
      <DisabledMetadataSavers />
      <LocalMetadataReaderOrder />
      <DisabledMetadataFetchers />
      <MetadataFetcherOrder />
      <DisabledImageFetchers />
      <ImageFetcherOrder />
    </MetadataOptions>
    <MetadataOptions>
      <ItemType>MusicAlbum</ItemType>
      <ImageOptions>
        <ImageOption>
          <Type>Backdrop</Type>
          <Limit>0</Limit>
          <MinWidth>1280</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Disc</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
      </ImageOptions>
      <DisabledMetadataSavers />
      <LocalMetadataReaderOrder />
      <DisabledMetadataFetchers />
      <MetadataFetcherOrder />
      <DisabledImageFetchers />
      <ImageFetcherOrder />
    </MetadataOptions>
    <MetadataOptions>
      <ItemType>MusicArtist</ItemType>
      <ImageOptions>
        <ImageOption>
          <Type>Backdrop</Type>
          <Limit>1</Limit>
          <MinWidth>1280</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Banner</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Art</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Logo</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
      </ImageOptions>
      <DisabledMetadataSavers />
      <LocalMetadataReaderOrder />
      <DisabledMetadataFetchers />
      <MetadataFetcherOrder />
      <DisabledImageFetchers />
      <ImageFetcherOrder />
    </MetadataOptions>
    <MetadataOptions>
      <ItemType>BoxSet</ItemType>
      <ImageOptions>
        <ImageOption>
          <Type>Backdrop</Type>
          <Limit>1</Limit>
          <MinWidth>1280</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Primary</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Thumb</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Logo</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Art</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Disc</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Banner</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
      </ImageOptions>
      <DisabledMetadataSavers />
      <LocalMetadataReaderOrder />
      <DisabledMetadataFetchers />
      <MetadataFetcherOrder />
      <DisabledImageFetchers />
      <ImageFetcherOrder />
    </MetadataOptions>
    <MetadataOptions>
      <ItemType>Season</ItemType>
      <ImageOptions>
        <ImageOption>
          <Type>Backdrop</Type>
          <Limit>0</Limit>
          <MinWidth>1280</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Primary</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Banner</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Thumb</Type>
          <Limit>0</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
      </ImageOptions>
      <DisabledMetadataSavers />
      <LocalMetadataReaderOrder />
      <DisabledMetadataFetchers>
        <string>TheMovieDb</string>
      </DisabledMetadataFetchers>
      <MetadataFetcherOrder />
      <DisabledImageFetchers />
      <ImageFetcherOrder />
    </MetadataOptions>
    <MetadataOptions>
      <ItemType>Episode</ItemType>
      <ImageOptions>
        <ImageOption>
          <Type>Backdrop</Type>
          <Limit>0</Limit>
          <MinWidth>1280</MinWidth>
        </ImageOption>
        <ImageOption>
          <Type>Primary</Type>
          <Limit>1</Limit>
          <MinWidth>0</MinWidth>
        </ImageOption>
      </ImageOptions>
      <DisabledMetadataSavers />
      <LocalMetadataReaderOrder />
      <DisabledMetadataFetchers />
      <MetadataFetcherOrder />
      <DisabledImageFetchers>
        <string>TheMovieDb</string>
      </DisabledImageFetchers>
      <ImageFetcherOrder />
    </MetadataOptions>
  </MetadataOptions>
  <EnableAutomaticRestart>true</EnableAutomaticRestart>
  <PathSubstitutions />
  <UICulture>en-us</UICulture>
  <PeopleMetadataOptions>
    <DownloadActorMetadata>true</DownloadActorMetadata>
    <DownloadDirectorMetadata>true</DownloadDirectorMetadata>
    <DownloadProducerMetadata>false</DownloadProducerMetadata>
    <DownloadWriterMetadata>false</DownloadWriterMetadata>
    <DownloadComposerMetadata>false</DownloadComposerMetadata>
    <DownloadOtherPeopleMetadata>false</DownloadOtherPeopleMetadata>
    <DownloadGuestStarMetadata>false</DownloadGuestStarMetadata>
  </PeopleMetadataOptions>
  <FindInternetTrailers>true</FindInternetTrailers>
  <InsecureApps9>
    <string>Windows Phone</string>
  </InsecureApps9>
  <SaveMetadataHidden>false</SaveMetadataHidden>
  <ContentTypes />
  <EnableAudioArchiveFiles>false</EnableAudioArchiveFiles>
  <EnableVideoArchiveFiles>false</EnableVideoArchiveFiles>
  <RemoteClientBitrateLimit>0</RemoteClientBitrateLimit>
  <DenyIFrameEmbedding>true</DenyIFrameEmbedding>
  <EnableLibraryMonitor>Auto</EnableLibraryMonitor>
  <SharingExpirationDays>30</SharingExpirationDays>
  <DisableXmlSavers>false</DisableXmlSavers>
  <EnableWindowsShortcuts>false</EnableWindowsShortcuts>
  <EnableVideoFrameByFrameAnalysis>false</EnableVideoFrameByFrameAnalysis>
  <EnableDateLastRefresh>false</EnableDateLastRefresh>
  <Migrations />
</ServerConfiguration>